@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');

/* RESPONSIVE NAVBAR */

/* BUTTONS */

.buttons {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-top: 34px;
    color: white;
}
.butt-one {
    background-color: black;
    color: white;
    padding: 10px;
    border: none;
}
.butt-two {
    background-color: green;
    padding: 10px;
    color: white;
    border: none;
}

/* HERO */

.hero h1 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    color: white;
}
.hero p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: white;

}
.hero.container-fluid {
    height: calc(100vh - 80px);
    background-color: #666666;
}
.box {
    width: 50%;
    padding: 24px;
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.service .container {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: -100px;
    height: 355px;
}

/* SHOUTER */

.shouter {
    margin: 300px auto 30px auto;
}

/* STATISTICS */

.statistics {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

/* COMPANY VALUE */

.company {
    display: relative;
    background-color: aliceblue;
    padding: 0;
}
.company .company-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 0;
}
.company .green-box {
    height: 600px;
    background-color: green;
}
.company .gray-box {
    position: absolute;
    left: 50%;
    z-index: 1000;
    margin: 100px 0;
    width: 50%;
    height: 400px;
    background-color: gray;
}

  /* OUR SERVICES */
    
  .our-services .our-services-top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
  }
  .our-services .our-services-top h5 {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-top: 10px;
  }

  /* HERO-TWO */

  .hero-two-relative {
    position: relative;
  }
  .hero-two {
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(8, 131, 8);
    color: white;
  }
  .gray-box-two {
    height: 50vh;
    background-color: #666666;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 65vh;
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    color: white;
  }

  /* LOGOIPSUM */

  .logoipsum {
    margin-top: 250px;
  }

  /* NEWS */

.news-box {
     width: 100%;
     padding: 24px;
     background-color: rgb(125, 119, 119);
     height: 250px;
     margin: 20px 0px;
}
.news h3, .news p, .news a {
    margin: 20px 0px;  
}

/* HERO-THREE */

.hero-three {
    height: 40vh;
    width: 100%;
    background-color: rgb(13, 139, 13);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: 20px;
}
.butt-three {
    margin-top: 30px;
    border: none;
    padding: 10px;
}

/* FOOTER */

.footer.container-fluid {
    background-color: rgb(25, 25, 25);
    color: white;
    padding: 50px 0;
}
.footer .footer-logo p,
.footer .footer-list ul,
.footer .footer-info .footer-info-p {
    padding-top: 30px;
}
.footer .footer-list ul li {
    display: flex;
    justify-content: start;
    padding: 5px;
}
.footer .footer-icons {
    padding: 50px 0 20px 0;
}
.footer .footer-icons i {
    display: flex;
    justify-content: center;
}

/* BOTTOMS */

.bottoms {
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}
.bottoms h3 {
    font-size: 10px;
}

/* ABOUT */
/* HEADER */

.about_header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(30vh - 56px);
}
.black-line {
    border: 3px solid black;
    width: 80px;
    height: 3px;
    margin: auto;

}

/* OUR TEAM */

.our-team h6,
.our-team p,
.our-team .members .green-line {
    padding: 10px 10px 10px 0;
}
.our-team h1 {
    display: flex;
    justify-content: center;
    padding: 10px;
}
.our-team .members .members-box {
    width: 100%;
    border: 1px solid black ;
    height: 35vh;
    background-color: gray;
}
.members .green-line {
    padding: 0 !important;
    border: 2px solid green;
    width: 100%;
    height: 2px;
    margin-bottom: 20px;
}

/* VALUES */

.values-fluid {
    background-color: aliceblue;
    padding: 20px 0;
}
.values .multi-line {
    width: 100%;
    display: flex;
}
.values .multi-line .multi-green {
    border: 5px solid green;
    width: 75%;
    margin: 10px 0;
}
.values .multi-line .multi-gray {
    border: 5px solid gray;
    width: 25%;
    margin: 10px 0;
}
.values .values-box h3 {
    padding: 20px;
}

/* OUR COMPANY */

.our-company {
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 30px;
}
.our-company .our-company-floater {
    position: absolute;
    padding: 10px 10px 0 10px;
    background-color: green;
    top: 250px;
    left: 30%;
}
.our-company .our-company-box {
    background-color: gray;
    height: 50vh;
}
.our-company .our-company-text {
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* COMPANY RESPONSIVE */

@media (max-width: 768px) {
    .company .container .gray-box {
        display: none;
    }
} 
@media (max-width: 768px) {
    .company .container .green-box {
        display: none;
    }
}
@media (max-width: 768px) {
    .company .container .row {
        justify-content: center;   
    }
}  
@media (max-width: 768px) {
    .container.ourservices .col-md-4.col-sm-12 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
} 
@media (max-width: 768px) {
    .container.ourservices2 .col-md-4.col-sm-12 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media (max-width: 768px) {
    .logoipsum.container .col-md-3.col-sm-12.col-xs-12 {
        display: flex;
        justify-content: center;
    }
}
@media (max-width: 768px) {
    .footer .footer-list {
        display: none;  
    }
}
@media (max-width: 768px) {
    .footer .footer-list {
        justify-content: center;  
        align-items: center;
        flex-direction: column;
    }
}
@media(min-width: 768px) {
    .collapse.navbar-collapse {
        justify-content: flex-end;
    }
}
@media (max-width: 992px) {
    .our-company .our-company-floater {
        display: none;   
    }
}
@media (max-width: 992px) {
    .our-company .our-company-text {
        padding: 10px;   
    }
}
@media (max-width: 992px) {
    .service {
        display: none;   
    }
}
@media (max-width: 992px) {
    .shouter {
        margin-top: 50px;   
    }
}
